.container {
  max-width: var(--container-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.button {
  padding: 16px 54px;
  background-color: var(--color-red);
  color: var(--color-light);
  font-size: 20px;
  border-radius: 8px;
  font-weight: 700;

  max-width: 280px;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-light-alt);
    color: var(--color-dark);
  }
}

.download-agreement {
  font-weight: 500;
  font-size: clamp(1rem, 1rem + 0.2vw, 1.25rem);
  line-height: 1.2;
  color: var(--color-red);
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.download-agreement::before {
  content: "";
  width: 24px;
  aspect-ratio: 1;
  background: url("../icons/download.svg") center/cover no-repeat;
}
.medium-title {
  font-weight: 800;
  font-size: clamp(1.75rem, 1.5rem + 2vw, 2.75rem);
  color: var(--color-dark);
}
.description {
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  line-height: 1.33;
}

.header__social-icon {
  width: 30px;
}
.social-icon {
  background-color: var(--color-dark);
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-duration);
}

.social-icon--colorful {
  background-color: var(--color-red);
}
.social-icon::before {
  content: "";
  width: 16px;
  aspect-ratio: 1;
}
.social-icon--telegram::before {
  background-image: url("../icons/socials/telegram.svg");
}
.social-icon--whatsapp::before {
  background-image: url("../icons/socials/whatsapp.svg");
}
.social-icon--youtube::before {
  background-image: url("../icons/socials/youtube.svg");
}
/* burger menu*/

.burger {
  position: relative;
  z-index: var(--z-burger);

  background-color: transparent;
  width: 24px;
  height: 16px;
  border-radius: 2px;
}
.burger__line {
  position: absolute;
  left: 0;
  background-color: var(--color-dark);
  width: 100%;
  height: 2px;

  transition-duration: 0.3s;
}
.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
}
.active-menu .burger__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.active-menu .burger__line:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}
.active-menu .burger__line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/* accordion */

.accordion {
  border-top: 1px solid var(--color-light-alt);
  cursor: pointer;
}
.accordion:last-child {
  border-bottom: 1px solid var(--color-light-alt);
}

.accordion__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__summary::marker {
  content: "";
}

.accordion__title {
  font-weight: 600;
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  line-height: 1.33;
}

.accordion__button {
  position: relative;
  width: 64px;
  aspect-ratio: 1;
  background-color: var(--color-red);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  flex-shrink: 0;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: var(--transition-duration);
}
.accordion__content-body {
  overflow: hidden;
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
}
.accordion__content-text {
  font-size: clamp(1rem, 1rem + 0.2vw, 1.25rem);
  line-height: 1.2;
  color: var(--color-dark-translucent);
  margin-block: 24px;
}

/* carousel */

.carousel {
  --slides-gap: 20px;
  --slides-to-show: 3;
  position: relative;
}


.carousel__viewport {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  scrollbar-width: none;
}

.carousel__viewport::-webkit-scrollbar {
  display: none;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: var(--color-red);
  width: 64px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: var(--transition-duration);


}

.carousel__button--prev {
  left: -2%;
}

.carousel__button--next {
  right: -2%;
  transform: translateY(-50%) scaleX(-1);
}

.carousel__track {
  display: flex;
  width: 100%;
  column-gap: var(--slides-gap);
}

.carousel__slide {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
}


.video {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9; 
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;

  
}

.video__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.video:hover .video__cover {
  transform: scale(1.05);
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.2s;
}


.video:hover .video__play-button {
  scale: 1.01;
}


