.container {
  max-width: var(--container-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}

.button {
  padding: 16px 54px;
  background-color: var(--color-red);
  color: var(--color-light);
  font-size: 20px;
  border-radius: 8px;
  font-weight: 700;

  max-width: 280px;
}

.medium-title {
  font-weight: 800;
  font-size: clamp(1.75rem, 1.5rem + 2vw, 2.75rem);
  color: var(--color-dark);
}

.header__social-icon {
  width: 30px;
}
.social-icon {
  background-color: var(--color-dark);
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-duration);
}

@media (min-width: 1180px) {
  .social-icon:hover {
    background-color: var(--color-red);
  }
}

.social-icon::before {
  content: "";
  width: 16px;
  aspect-ratio: 1;
}
.social-icon--telegram::before {
  background-image: url("../icons/socials/telegram.svg");
}
.social-icon--whatsapp::before {
  background-image: url("../icons/socials/whatsapp.svg");
}
.social-icon--youtube::before {
  background-image: url("../icons/socials/youtube.svg");
}

.social-icon--colorful {
  background-color: var(--color-red);
}
@media (min-width: 1180px) {
  .social-icon--colorful:hover {
    background-color: var(--color-dark);
  }
}

/* burger menu */

.burger {
  position: relative;
  z-index: 200;

  background-color: transparent;
  width: 24px;
  height: 16px;
  border-radius: 2px;
}
.burger__line {
  position: absolute;
  left: 0;
  background-color: var(--color-dark);
  width: 100%;
  height: 2px;

  transition-duration: 0.3s;
}
.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
}
.active-menu .burger__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.active-menu .burger__line:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}
.active-menu .burger__line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
