.container {
  max-width: var(--container-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.button {
  padding: 16px 54px;
  background-color: var(--color-red);
  color: var(--color-light);
  font-size: 20px;
  border-radius: 8px;
  font-weight: 700;

  max-width: 280px;
}

.download-agreement {
  font-weight: 500;
  font-size: clamp(1rem, 1rem + 0.2vw, 1.25rem);
  line-height: 1.2;
  color: var(--color-red);
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.download-agreement::before {
  content: "";
  width: 24px;
  aspect-ratio: 1;
  background: url("../icons/download.svg") center/cover no-repeat;
}
.medium-title {
  font-weight: 800;
  font-size: clamp(1.75rem, 1.5rem + 2vw, 2.75rem);
  color: var(--color-dark);
}

.header__social-icon {
  width: 30px;
}
.social-icon {
  background-color: var(--color-dark);
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-duration);
}

.social-icon--colorful {
  background-color: var(--color-red);
}
.social-icon::before {
  content: "";
  width: 16px;
  aspect-ratio: 1;
}
.social-icon--telegram::before {
  background-image: url("../icons/socials/telegram.svg");
}
.social-icon--whatsapp::before {
  background-image: url("../icons/socials/whatsapp.svg");
}
.social-icon--youtube::before {
  background-image: url("../icons/socials/youtube.svg");
}
/* burger menu */

.burger {
  position: relative;
  z-index: var(--z-burger);

  background-color: transparent;
  width: 24px;
  height: 16px;
  border-radius: 2px;
}
.burger__line {
  position: absolute;
  left: 0;
  background-color: var(--color-dark);
  width: 100%;
  height: 2px;

  transition-duration: 0.3s;
}
.burger__line:nth-child(1) {
  top: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
}
.active-menu .burger__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.active-menu .burger__line:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}
.active-menu .burger__line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
